__pycache__/
*.py[cod]
.venv/
venv/

node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.env
.env.local
.env.development.local
.env.test.local
.env.production.local

.vscode/
.idea/

etl/data/processed/
etl/data/input_data/

*.zip
*.csv

etl/data/raw/*.parquet
etl/data/raw_professor/

!etl/data/raw/escolas_paraiba_sample.parquet

*.log

docker-compose.override.yml

*.ipynb

mlruns/
mlruns.db
