# Python
__pycache__/
*.py[cod]
.venv/
venv/

# Node.js
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ambiente
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE / Editor
.vscode/
.idea/

# Dados do ETL
etl/data/
*.zip

# Logs
*.log

# Docker
docker-compose.override.yml

# Notebooks
*.ipynb